.resultsItem {
    overflow: hidden;
    position: relative;
    display: inline-block;
    color: black;
    border: none;
    padding: 3px;
    margin: 4px;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    width: 140px;
    min-height: 260px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
}

.resultsItemWording {
    position: relative;
    margin-top: 200px;
    padding: 3px;
}
