.header {
    background: #212125;
    color: white;
    padding: 0 50px;
}

.filmDetails {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 300px;
}

.filmPoster {
    padding: 30px;

    img {
        max-width: 200px;
        height: auto;
    }
}

.filmDescription {
    padding: 40px 0;
}

.filmYear {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 15px 0;
}

.filmSummary {
    font-size: 14px;
    color: white;
    margin: 20px 0;
    padding-right: 100px;
}
