.filmRating {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 6px;

    &::before {
        position: absolute;
        content: '';
        border: 1px solid white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        top: -6px;
        left: -1px;
    }
}
