.filters-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;

    span {
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 10px;
    }
}

input[type="text"] {
    display: block;
    width: 100%;
    background: black;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #f55263;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    background: #3d3c3a;
    padding: 4px 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
    height: 24px;
}

input[type="radio"]:checked + label {
    background: #f55263;
}

input[type="submit"] {
    padding: 10px 80px;
    background: #f55263;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-left: auto;
}
